licheerv_nano_base/fp-info-cache
/licheerv_nano_base/jlcpcb/gerber
/licheerv_nano_base/licheerv_nano_base-backups
/licheerv_nano_base/jlcpcb/production
/firmware_stm32_control_unit/build
/radxa_zero_3e_control_unit/radxa_zero_3e_control_unit-backups
