# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# TypeScript
dist/
build/
*.tsbuildinfo

# IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS specific files
.DS_Store
Thumbs.db

# Coverage directory used by tools like istanbul
coverage/

# Temporary files
*.tmp
*.temp

# Yarn specific files
yarn-error.log